body {
    text-align: center;
    font-family: Arial, Helveticaï¼Œsans-serif;
    font-size: 18px;
}

.header {
    background: #f4f4f4;
    border-bottom: #ccc 3px solid;
    padding: 20px;

}

.container {
    width: 700px;
    margin: 30px auto;
}

li.list{
    background: brown;
}
.title_class{
    color: red;
}